body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
h1{
    font-size: 80px;
    line-height: 106px;
}
h2{
    font-size: 64px;
    line-height: 84px;
}
h3{
    font-size: 24px;
    line-height: 42px;
}
.white{
    color: #FFFFFF;
    background-color: #000000;
}